{% extends "base.html" %}
{% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <br>
      <form method="post" action="">
        {% csrf_token %}
        <!-- Account -->
        <div class="form-group">
          <label for="username">账号</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <!-- Password -->
        <div class="form-group">
          <label for="password">密码</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <!-- Commit Button -->
        <button type="submit" class="btn btn-primary">登录</button>
        <div class="form-group">
        <br>
        <h5>还没有账号？ 点击<a href='{% url "users:signup" %}'>注册账号</a>加入我们吧！</h5>
        <br>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}