{% extends "base.html" %}
{% load static %}
{% block title %} 图书管理系统 {% endblock title %}
{% block content %}
<style>
    .top{
        height: 100px;
        /*background-color: pink;*/
    }
    .top-p{
        /*text-align: center;*/
        font-size:20px;
    }
    a{
        text-decoration:none;
    }
</style>
<div class="UserBorrow">
    <div class="box-center">
        <div class="container">
          <div class="row row-cols-4">
            <div class="col"><a href="{% url 'users:userProfile' %}">用户信息</a></div>
            {% if not isAdmin %}
            <div class="col"><a href="{% url 'borrow:orderPage' %}">借阅图书</a></div>
            <div class="col"><a href="{% url 'borrow:managePage' %}">借阅记录</a></div>
            {% else %}
            <div class="col"><a href="{% url 'users:userManage' %}">用户管理</a></div>
            <div class="col"><a href="{% url 'publishers:mp' %}">出版社管理</a></div>
            <div class="col"><a href="{% url 'book_types:mbt' %}">图书种类管理</a></div>
            <div class="col"><a href="{% url 'books:mb' %}">图书管理</a></div>
            <div class="col"><a href="{% url 'borrow:managePage' %}">借阅记录管理</a></div>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endblock content %}