{% extends "base.html" %}
{% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<table class="data_table">
    <thead>
        <tr>
            <th>操作序列号</th>
            <th>借阅时间</th>
            <th>图书状态</th>
            <th>归还时间</th>
            <th>借阅图书</th>
            <th>借阅人</th>
        </tr>
    </thead>
    <tbody>
        {% if borrows %}
            {% for item in borrows %}
            <tr>
                <td>{{ item.OperationID }}</td>
                <td>{{ item.borrow_time }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.give_back_time }}</td>
                <td><a class="forBookDetails">{{ item.book_id }}</a></td>
                <td><a class="forUserDetails">{{ item.user_id }}</a></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="borrowEmpty">Empty</td>
                <td class="borrowEmpty">Empty</td>
                <td class="borrowEmpty">Empty</td>
                <td class="borrowEmpty">Empty</td>
                <td class="borrowEmpty">Empty</td>
                <td class="borrowEmpty">Empty</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% if not borrows %}
<span id="emptyBorrow">现在暂时没有借阅记录！</span>
{% endif %}

{% if isAdmin %}
<a type="button" onclick="
    $('#update_recording').css('display', 'block');
    $('#remove_recording').css('display', 'none');
    $('#query_recording').css('display','none');
">修改记录</a>

<a type="button" onclick="
    $('#remove_recording').css('display', 'block');
    $('#update_recording').css('display', 'none');
    $('#query_recording').css('display','none');
">删除记录</a>

<div id="update_recording" style="display: none;">
    <form method="get" target="post_channel">
        {% csrf_token %}
        <label for="pull_operate_id"></label><input id="pull_operate_id" type="text" name="pull_operate_id">
        <input id="submit_pull" type="submit" value="查询"><br>
        <span id="querry_error" style="display: none;">不存在此操作记录！</span>
    </form>
    <form id="update_book_info" action="post_update_recording/" method="post" style="display: none;">
        {% csrf_token %}
        <label for="update_operate_id">操作序列号：</label><input id="update_operate_id" type="text" name="update_operate_id" readonly="true"><br>
        <label for="update_borrow_time">借阅时间：</label><input id="update_borrow_time" type="text" name="update_borrow_time" readonly="true"><br>
        <label for="update_status">图书状态：</label><select id="update_status" type="text" name="update_status" readonly="true">
            <option>未归还</option>
            <option>已归还</option>
        </select><br>
        <label for="update_back_time">归还时间：</label><input id="update_back_time" type="text" name="update_back_time" readonly="true"><br>
        <label for="update_book_ISBN">借阅图书：</label><input id="update_book_ISBN" type="text" name="update_book_ISBN" readonly="true"><br>
        <label for="update_borrower">借阅人：</label><input id="update_borrower" type="text" name="update_borrower" readonly="true"><br>
        <input type="submit" value="OK">
    </form>
    <iframe id="post_channel" name="post_channel" style="display: none;"></iframe>
</div>

<div id="remove_recording" style="display: none;">
    <form action="post_del_recording/" method="post">
        {% csrf_token %}
        <label for="delRecording">要删除的操作序列号：</label>
        <input id="delRecording" type="text" name="del_recording"><br>
        <input type="submit" value="OK">
    </form>
</div>


{% else %}
<a type="button">添加记录</a>
{% endif %}
<a type="button" onclick="
    $('#query_recording').css('display','block');
    $('#update_recording').css('display', 'none');
    $('#remove_recording').css('display', 'none');
">查询记录</a>

<div id="query_recording" style="display: none;">
    <form id="query_db" action=" " method="post" onsubmit="return save();">
        {% csrf_token %}
        <p>
            近日借阅:
            <label for="time">近日借阅</label><input id="time" type="text" name="time" placeholder="输入数字,默认不限">
        </p>
        <p>
            图书状态:
            <label for="state">图书状态</label><select id="state" type="text" name="state" readonly="true">
                <option>不限</option>
                <option>损坏</option>
                <option>丢失</option>
                <option>归还</option>
                <option>在借</option>
            </select>
        </p>
        <p>
            借阅图书:
            <label for="book">借阅图书</label><input id="book" type="text" name="book" placeholder="指定图书的ISBN,默认不限">
        </p>
        <p>
            借阅人：
            <label for="person">借阅人</label><input id="person" type="text" name="person" placeholder="指定借阅人ID,默认不限">
        </p>
        <input id="submit_post" type="submit" value="查询">
    </form>
</div>

{% endblock content %}
{% block JsScript %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

$("#submit_pull").on("click", function () {
    let pull_operate_id = $('#pull_operate_id').val()
    const post_data = {
        "pull_operate_id": pull_operate_id,
    };
    $.ajax({
        headers: {
            'X-CSRFToken': csrftoken
        },
        url: '/brr/get_borrow_info',
        type: "GET",
        data: post_data,
        success: (data_json) => {
            if ($.isEmptyObject(data_json)){
                $("#update_operate_id").attr("value", "");
                $("#update_borrow_time").attr("value", "");
                $("#update_status").attr("value", "");
                $("#update_back_time").attr("value", "");
                $("#update_book_ISBN").attr("value", "");
                $("#update_borrower").attr("value", "");
                $("#querry_error").css("display", "block");
                $("#update_book_info").css("display", "none");
            } else {
                $("#update_operate_id").attr("value", data_json['oprate_id']);
                $("#update_borrow_time").attr("value", data_json['borrow_time']);
                $("#update_status").attr("value", data_json['status']);
                $("#update_back_time").attr("value", data_json['back_time']);
                $("#update_book_ISBN").attr("value", data_json['book_ISBN']);
                $("#update_borrower").attr("value", data_json['borrower']);
                $("#querry_error").css("display", "none");
                $("#update_book_info").css("display", "block");
            }
        },
    });
})
</script>

<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
$("#submit_post").on("click",function(){
    let time = $('#time').val()
    let state = $("#state").val()
    let book = $("#book").val()
    let person = $("#person").val()
    const post_select = {
        "time":time,
        "state":state,
        "book":book,
        "person":person
    };
    $.ajax({
        headers:{
            'X-CSRFToken':csrftoken
        },
        url:'',
        type:"POST",
        data:post_select,
    })
})
</script>
{% endblock JsScript %}