{% extends "base.html" %}
{% load static %}
{% block title %} 图书管理 {% endblock title %}
{% block content %}
<table class="data_table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>图书名称</th>
            <th>作者</th>
            <th>位置</th>
            <th>图书种类</th>
            <th>出版社</th>
        </tr>
    </thead>
    <tbody>
        {% for item in books %}
        <tr>
            <td>{{ item.ISBN }}</td>
            <td>{{ item.book_name }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.book_type__book_type_name }}</td>
            <td>{{ item.publisher__publisher_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a type="button" onclick="$('#add_book_type').css('display', 'block');$('#remove_book_type').css('display', 'none');">添加图书种类</a>
<a type="button" onclick="$('#remove_book_type').css('display', 'block');$('#add_book_type').css('display', 'none');">删除图书种类</a>
{% endblock content %}