{% extends "base.html" %}
{% load static %}
{% block title %} 图书借阅 {% endblock title %}
{% block content %}
<table class="data_table">
    <thead>
        <tr>
            <th></th>
            <th>ISBN</th>
            <th>图书名称</th>
            <th>作者</th>
            <th>位置</th>
            <th>图书种类</th>
            <th>出版社</th>
        </tr>
    </thead>
    <tbody>
        {% for item in books %}
        <tr>
            <td><input class="selected_book_item" type="checkbox" id="{{ item.ISBN }}"></td>
            <td>{{ item.ISBN }}</td>
            <td>{{ item.book_name }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.book_type__book_type_name }}</td>
            <td>{{ item.publisher__publisher_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="select_all_books_to_order">
    {% csrf_token %}
    <input id="borrow_days" type="text" oninput="value=value.replace(/[^\d]/g,'')" value="" name="borrow_days">
    <input id="select_books" type="submit" value="借阅图书">
    <span id="querry_error" style="display: none;">不存在此操作记录！</span>
</div>


{% endblock content %}
{% block JsScript %}
<script>
const csrf_token = document.querySelector('[name="csrfmiddlewaretoken"]').value;
$("#select_books").on("click", function (){
    let days_and_items = {};
    days_and_items[0] = $("#borrow_days").val()
    $('.selected_book_item').each(function (atom){
        if ($(this).prop("checked")){
            days_and_items[atom + 1] = $(this).attr("id");
        }
    });
    $.ajax({
        headers: {
            'X-CSRFToken': csrf_token
        },
        url: '/brr/post_borrow_orders/',
        type: "POST",
        traditional: true,
        data: days_and_items,
        success: () => {},
    });
})
</script>
{% endblock JsScript %}