{% extends "base.html" %}
{% load static %}
{% block title %} 注册 {% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <br>
            <form method="post">
                {% csrf_token %}
                <!-- Account Name -->
                <div class="form-group">
                    <label for="user_name">用户名</label>
                    <input type="text" class="form-control" id="user_name" name="nickname" required>
                </div>
                <!-- Name -->
                <div class="form-group">
                    <label for="reader_name">姓名</label>
                    <input type="text" class="form-control" id="reader_name" name="name" required>
                </div>
                <!-- Telephone Number-->
                <div class="form-group">
                    <label for="tel">手机号</label>
                    <input type="text" class="form-control" id="tel" name="tel" required>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="password1">设置密码</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                </div>
                <!-- Check Password -->
                <div class="form-group">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}