{% extends "base.html" %}
{% load static %}
{% block title %} 用户管理 {% endblock title %}
{% block content %}
<style>
    .su-btn {
        border-color: skyblue;
        background-color: #D9F2F4;
        color: #FA9193;
        font-weight: bolder;
        font-size: 20px;
        width: 100px;
        height: 50px;
        margin-top: 5px;
    }
</style>
<div class="container" style="margin-top:20px">
    <form class="form-group">
    {% csrf_token %}
    <div class="form-group row">
        <label for="profile_UserID" class="col-form-label col-form-label-lg">账号ID：</label>
        <div class="col-sm-10">
            <input id="profile_UserID" type="text" name="UserID" readonly value="{{ User.UserID }}" class="form-control form-control-lg">
        </div>
   </div>
   <div class="form-group row">
        <label for="profile_nickname" class="col-form-label col-form-label-lg">用户名：</label>
        <div class="col-sm-10">
            <input id="profile_nickname" type="text" name="nickname" readonly value="{{ User.nickname }}" class="form-control form-control-lg">
        </div>
  </div>
  <div class="form-group row">
        <label for="profile_name" class="col-form-label col-form-label-lg">姓名&#12288;：</label>
        <div class="col-sm-10">
            <input id="profile_name" type="text" name="name" readonly value="{{ User.name }}" class="form-control form-control-lg">
        </div>
  </div>
  <div class="form-group row">
        <label for="profile_tel" class="col-form-label col-form-label-lg">电话&#12288;：</label>
        <div class="col-sm-10">
            <input id="profile_tel" type="text" name="tel" readonly value="{{ User.tel }}" class="form-control form-control-lg" oninput="value=value.replace(/[^\d]/g,'')">
        </div>
  </div>
  <div class="form-group row">
        <label for="profile_last_login" class="col-form-label col-form-label-lg" style="margin-left: -58px">最近登录时间：</label>
        <div class="col-sm-10">
            <input id="profile_last_login" type="text" name="last_login" readonly value="{{ User.last_login }}" class="form-control form-control-lg">
        </div>
  </div>
  {% if not isAdmin %}
  <div class="form-group row">
         <label for="profile_trustworthiness" class="col-form-label col-form-label-lg">信用点：</label>
        <div class="col-sm-10">
        <input id="profile_trustworthiness" type="text" name="trustworthiness" readonly value="{{ User.trustworthiness }}" class="form-control form-control-lg">
        </div>
  </div>
  <div class="form-group row">
      <label for="profile_max_borrow_day" class="col-form-label col-form-label-lg" style="margin-left: -78px">最长可借阅天数：</label>
      <div class="col-sm-10">
        <input id="profile_max_borrow_day" type="text" name="max_borrow_day" readonly value="{{ User.max_borrow_day }}" class="form-control form-control-lg">
      </div>
  </div>
  <div class="form-group row">
    <label for="profile_max_borrow_count" class="col-form-label col-form-label-lg" style="margin-left: -78px">最多可借阅本数：</label>
      <div class="col-sm-10">
        <input id="profile_max_borrow_count" type="text" name="max_borrow_count" readonly value="{{ User.max_borrow_count }}" class="form-control form-control-lg">
      </div>
  </div>
  {% endif %}
</form>
<input id="goToEdit" type="button" value="编辑" class="su-btn">
<input id="goToChangePassword" type="button" value="修改密码" class="su-btn">

<form id="userChangePassword" style="display: none;margin-top:20px;">
  <div class="form-group row">
    <label class="col-form-label col-form-label-lg">旧密码：</label>
      <div class="col-sm-10">
        <input id="userPassword" type="password" class="form-control form-control-lg">
      </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-form-label-lg">新密码：</label>
      <div class="col-sm-10">
        <input id="userBassword" type="text" class="form-control form-control-lg">
      </div>
  </div>
</form>
</div>
{% endblock content %}

{% block JsScript %}
<script>
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let edit_status_value = 0;
    let chpwd_status_value = 0;
    $('#goToEdit').on("click", function (){
        if (edit_status_value){
            $('#profile_nickname').attr("readonly", "readonly");
            $('#profile_name').attr("readonly", "readonly");
            $('#profile_tel').attr("readonly", "readonly");
            $(this).val("编辑");
            edit_status_value = 0;

            let nickname = $('#profile_nickname').val()
            let name = $('#profile_name').val()
            let tele =  $('#profile_tel').val()

            $.ajax({
                headers: {
                    'X-CSRFToken': csrf_token
                },
                url: '/user/post_edited_profile/',
                type: "POST",
                data: {
                    "nickname": nickname,
                    "name": name,
                    "tele": tele
                },
                success: (res) => {
                    if (res['success']){
                        alert("修改成功！")
                    } else {
                        alert("修改失败！请稍后重试！")
                    }
                    location.reload();
                }
            })
        } else {
            $('#profile_nickname').removeAttr("readonly");
            $('#profile_name').removeAttr("readonly");
            $('#profile_tel').removeAttr("readonly");
            $(this).val("完成");
            edit_status_value = 1;
        }
    })

    $('#goToChangePassword').on("click", function (){
        let userPassword = $("#userPassword").val()
        let userBassword = $("#userBassword").val()
        if (chpwd_status_value){
            if (userPassword !== userBassword) {
                $.ajax({
                    headers: {
                        'X-CSRFToken': csrf_token
                    },
                    url: '/user/post_edited_password/',
                    type: "POST",
                    data: {
                        "old_password": userPassword,
                        "new_password": userBassword,
                    },
                    success: (res) => {
                        if (res['success']) {
                            alert("修改成功！")
                        } else {
                            alert("修改失败！密码输入有误！")
                        }
                        location.reload();
                    }
                })
            } else {
                alert("旧密码与新密码不能一致！")
            }
            $("#userChangePassword").css("display", "none");
            $(this).val("修改密码");
            chpwd_status_value = 0;
        } else {
            $("#userChangePassword").css("display", "block");
            $(this).val("完成");
            chpwd_status_value = 1;
        }
    })
</script>
{% endblock JsScript %}