<div class="top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
    <a class="navbar-brand" href="#">图书管理系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            菜单
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:userProfile' %}">用户信息</a>
            <div class="dropdown-divider"></div>
            {% if not isAdmin %}
            <a class="dropdown-item" href="{% url 'borrow:orderPage' %}">借阅图书</a>
            <a class="dropdown-item" href="{% url 'borrow:managePage' %}">借阅记录</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'users:userManage' %}">用户管理</a>
            <a class="dropdown-item" href="{% url 'publishers:mp' %}">出版社管理</a>
            <a class="dropdown-item" href="{% url 'book_types:mbt' %}">图书种类管理</a>
            <a class="dropdown-item" href="{% url 'books:mb' %}">图书管理</a>
            <a class="dropdown-item" href="{% url 'borrow:managePage' %}">借阅记录管理</a>
            {% endif %}
          </div>
        </li>
      </ul>
        <span>{{ user_info }}</span>
        <form class="form-inline my-2 my-lg-0">
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        {% if isOffline %}
        <a class="btn btn-secondary my-2 my-sm-0" type="submit" href="{% url 'users:signin' %}">登录</a>
        {% else %}
        <a class="btn btn-secondary my-2 my-sm-0" type="submit" href="{% url 'users:logout' %}">登出</a>
        {% endif %}
      </form>

    </div>
  </nav>
</div>